form {
    max-width: 500px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

input , textarea{
    width: 100%;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #1976d2;
}

.enviar {
    width: 110px;
    height: 40px;
    background-color: #1976d2;
    color: #fff;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}